<!DOCTYPE html>
<html xmlns:th="http://www.thumeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Update Product</title>
</head>
<body>
<form action="/products/products/update" method="post" th:object="${product}">
  <!--hidden form field to store id of the object to be updated-->
  <input name="id" type="hidden" th:value="${product.id}">
  <p>
    <label>Navn:</label>
    <input name="name" type="text" th:value="${product.name}"/>
  </p>

  <p>
    <label>Pris:</label>
    <input name="price" type="number" th:value="${product.price}"/>
  </p>

  <p><button type="submit">Opdatér produkt</button>
  </p>
</form>
</body>
</html>